<!DOCTYPE html>
<html lang="<%= locale %>">
<head>
  <title>RDLA-Live!</title>
  <link href='http://fonts.googleapis.com/css?family=Happy+Monkey' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="/fields.css" media="all" rel="stylesheet" type="text/css" />
  <script src="http://code.createjs.com/easeljs-0.4.2.min.js"></script>
  <script src="http://code.createjs.com/preloadjs-0.1.0.min.js"></script>
  <%= javascript_include_tag "application" %>
  
  
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to(raw("<span>#{t('layout.logout')}</span>#{image_tag("close.png")}"), disconnect_path, method: :delete, class: "disconnect") unless @user.blank? %>
<%= yield %>

</body>
</html>
